.span-18
  .span-18.last
    =partial 'books/recently_added'
  .span-11
    =partial 'reservations/overdue_rank'
  .span-7.last
    =partial 'activities/master_feed'
.span-6.last
  =partial 'sessions/short'
  %span.toolbar=link_to "Browse Books", url(:books)
  %span.toolbar=link_to "Add New Book", url(:new_book)