.span-18
  .span-18.last
    -debugger; fetch_partial 'books/recently_added', :updated_at => (Book.latest.updated_at rescue nil)
  .span-11
    -fetch_partial 'reservations/overdue_rank', :updated_at => (Reservation.latest.updated_at rescue nil)
  .span-7.last
    -fetch_partial 'activities/master_feed', :updated_at => (Activity.latest.created_at rescue nil)
.span-6.last
  =partial 'sessions/short'
  %span.toolbar=link_to "Browse Books", url(:books)
  %span.toolbar=link_to "Add New Book", url(:new_book)